
<form action="/dependents/addnew">

    <table>
        <th><input type="hidden" value="@Model.SSN" id="name" name="EmployeeSSN"></th>
        <tr>
            <th> <label for="name">First Name:</label></th>
            <th><input type="text" id="name" name="name"></th>
        </tr>
        <tr>
            <th><label for="last-name">Sex:</label></th>
            <th><input type="text" id="sex" name="sex"></th>
        </tr>
        <tr>
            <th><label for="last-name">B DATE</label></th>
            <th><input type="text" id="Bdate" name="Bdate"></th>
        </tr>
        <tr>
            <th> <label for="ssn">relationship:</label></th>
            <th><input type="text" id="relationship" name="relationship"></th>
        </tr>
    

    </table>


    <input type="submit" value="Submit">
</form>