@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
          .linkes a{
            margin-left: 5px;
            text-decoration: none;
            background-color:#0075ff;
            padding: 5px;
            border-radius: 4px;
            color: white;

        }
        .linkes a:hover{
            background-color: #0d69d5;
        }
    </style>
    <p>See you later </p>
    <div class="linkes">
        <a href="/Party/addfriend">Register</a>
        <a href="/Party/allfriend">Show all</a>

    </div>
</body>
</html>