<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <style>
        .side {
            background-color: rgb(218, 215, 215);
            height: 80vh;
            margin-bottom: 10px;
            margin-top: 10px;
            border-radius: 5px;
        }

        .card {
            margin-top: 15px;
        }
    </style>

   <partial name="_nav"></partial>
    <div class="container">
        <div class="row">
            <div class="col-2 side">
                @if (Context.Request.Cookies["reqnum"] != null)
                {
                    @if (int.Parse(Context.Request.Cookies["reqnum"]) <= 10)
                    {
                        <h2>*</h2>
                        
                    }
                    else if (int.Parse(Context.Request.Cookies["reqnum"]) <= 20)
                    {
                        <h2>**</h2>
                    }
                    else if (int.Parse(Context.Request.Cookies["reqnum"]) <= 30)
                    {
                        <h2>***</h2>
                    }
                    else if (int.Parse(Context.Request.Cookies["reqnum"]) <= 40)
                    {
                        <h2>****</h2>
                    }
                    else
                    {
                        <h2>*****</h2>
                    }
                }
               

                <div class="card" style="width: 100%;">
                    <div class="card-header">
                      Tag Helper
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <a class="nav-link btn btn-success" href="/taghelper/showallemp">Manage Employee</a></li>
                        <li class="list-group-item"><a class="nav-link btn btn-success" href="/taghelper/showAllDept">Manage department</a></li>
                        <li class="list-group-item">A third item</li>
                    </ul>
                    <h2></h2>
                 
                        
                        

                </div>
            </div>
            <div class="col-10 content">
                @RenderBody()
            </div>

        </div>
        <nav class="nav nav-pills nav-justified">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
            <a class="nav-link" href="#">Much longer nav link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </nav>

    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>