

    <style>
     
        img {
            width: 500px;
            border-radius: 20px;
        }

        h1 {
            color: blue;
        }

        .linkes {
            margin-top: 15px;
        }

            .linkes a {
                margin-left: 5px;
                text-decoration: none;
                background-color: #0075ff;
                padding: 5px;
                border-radius: 4px;
                color: white;
            }

                .linkes a:hover {
                    background-color: #0d69d5;
                }
    </style>
    <div>
    </div>
    <div>
        <h1>You're Invited!</h1>
        <p>Please join us for a night of fun and celebration as we mark the occasion of FUN DAY.</p>
        <img src="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495__480.jpg" alt="">
    </div>
    <p>We can't wait to celebrate with you!</p>
    <div class="linkes">
        <a href="/Party/addfriend">Register</a>
        <a href="/Party/allfriend">Show all</a>

    </div>




