@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        .btn {
            background-color: #0075ff;
            padding: 5px;
            border-radius: 4px;
            color: white;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            margin-top: 20px;
            border: none;
        }

        input {
            border-radius: 3px;
            border: 2px solid black;
        }

        body {
            background-color: #f9f9f9;
            padding: 20px;
            position: absolute;
            right: 50%;
            transform: translate(50%);
        }
    </style>

    <form action="/Party/adddata">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="text" name="email" id="email"></td>
            </tr>
            <tr>
                <td><label for="phone">Phone</label></td>
                <td><input type="text" name="phone" id="phone"></td>
            </tr>
            <tr>
                <td><label for="attend">Will Attend ?</label></td>

                <td>
                    <input type="radio" name="attend" id="yes" value="yes">
                    <label for="yes">yes</label>
                    <input type="radio" name="attend" id="no" value="no">
                    <label for="no">No</label>
                </td>
            <tr>
                <td colspan="2"> <input class="btn" type="submit" value="Submit"></td>
            </tr>

            </tr>
        </table>
    </form>


</body>
</html>

@*<form action="/Party/adddata">

    <label for"name">Name</label>
    <input id="name" name="name"  />
    <br />

    <label for"email">email</label>
    <input id="email" name="email" />
    <br />
    <label for"phone">phone</label>
    <input type="number" id="phone" name="phone" />
    <br />
    <label>ATTEND</label>
    <br />
<input type="radio" id="yes" name="attend" value="yes">
<label for="yes">yes</label><br>
<input type="radio" id="no" name="attend" value="no">
<label for="no">no</label><br>
    <input type="submit" value="add" />

</form>*@