@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <style>
          .linkes a{
            margin-left: 5px;
            text-decoration: none;
            background-color:#0075ff;
            padding: 5px;
            border-radius: 4px;
            color: white;

        }
        .linkes a:hover{
            background-color: #0d69d5;
        }
    </style>
    <p>Thank you </p>
    <div class="linkes">
        <a href="/Party/addfriend">Register</a>
        <a href="/Party/allfriend">Show all</a>

    </div>
