@{
    ViewData["Title"] = "Home Page";
}

@*<div>
    <a class="btn btn-success" href="/employee/">Manage Employee</a>
</div>*@

<form action="/home/login">
    <div class="form-group">
        <label for="Fname">Name</label>
        <input type="text" class="form-control" id="Fname" name="Fname" placeholder="name">
    </div>
    <div class="form-group">
        <label for="SSN">SSN</label>
        <input type="password" class="form-control" id="SSN" name="SSN" placeholder="Password">
    </div>
    <div class="form-group">
        <div></div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
