
@{
    ViewData["Title"] = "Index";
}

<h1>department</h1>
@model department



<div>
    <span class="two">Department name you manage:</span>

    <span>
        <b> @Model.DName</b>
       
    </span>
</div>


<span class="two">projects in this department:</span>
@foreach(var item in Model.Projects)
{

    <div>
       

        <span>
            <b> @item.Name</b>

        </span>
    </div>
}
<span class="two">Employee in this department:</span>
@foreach (var item in Model.Employees)
{

    <div>


        <span>
            <b> @item.Fname</b>
            

        </span>
    </div>
}

<a href="/department/addform">ADD employee to the projects </a>