@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model department
<form asp-action="afteradddep" asp-controller="Taghelper" >
      <label asp-for="DName">department name</label>
      <input asp-for="DName">

      <label asp-for="Dnum">department number</label>
      <input asp-for="Dnum">
      <input type="submit" value="add">

    </form>